*{ margin:0; padding:0;}
a { outline: 0;}
a:hover{ text-decoration: none}
a:hover, a:active { outline: 0}
a{ text-decoration:none;}
img{ border:0;}
h1, h2, h3 { line-height: normal;}
h1, h2, h3, h4, h5, h6{	margin:0;}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clear{ clear:both;}
.fnone{ float:none;}
.fleft{ float:left;}
.fright, .last{ float:right;}
.pnone{ padding:0;}
.mnone{ margin:0;}
.mauto{ margin:0 auto;}
.bgnone{ background:none;}
.bnone{ border:0;}
.plnone{ padding-left:0;}
.prnone{ padding-right:0;}
.ptnone{ padding-top:0;}
.pbnone{ padding-bottom:0;}

/*Font Size & Family*/
.font05{ font-size:5px;}
.font06{ font-size:6px;}
.font07{ font-size:7px;}
.font08{ font-size:8px;}
.font09{ font-size:9px;}
.font10{ font-size:10px;}
.font11{ font-size:11px;}
.font12{ font-size:12px;}
.font13{ font-size:13px;}
.font14{ font-size:14px;}
.font15{ font-size:15px;}
.font16{ font-size:16px;}
.font17{ font-size:17px;}
.font18{ font-size:18px;}
.font19{ font-size:19px;}
.font20{ font-size:20px;}
.font21{ font-size:21px;}
.font22{ font-size:22px;}
.font23{ font-size:23px;}
.font24{ font-size:24px;}
.font25{ font-size:25px;}
.font27{ font-size:27px;}

.lineheight{ line-height:20px;}

.acenter{ text-align:center;}
.aleft{ text-align:left;}
.aright{ text-align:right;}
.ajustify{ text-align:justify;}

.arial{ font-family:Arial, Helvetica, sans-serif;}
.verdana{ font-family:Verdana, Geneva, sans-serif;}
.courier-new{ font-family:"Courier New", Courier, monospace;}
.tahoma{ font-family:Tahoma, Geneva, sans-serif;}
.trebuchet{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
.times-new-roman{ font-family:"Times New Roman", Times, serif;}
.palatino{ font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;}
.lucida-sans{ font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.ms-serif{ font-family:"MS Serif", "New York", serif;}
.comic-san{ font-family:"Comic Sans MS", cursive;}

.text-capitalize{ text-transform:capitalize;}
.text-lowercase{ text-transform:lowercase;}
.text-uppercase{ text-transform:uppercase;}
.text-none{ text-transform:none;}

.text-blink{ text-decoration:blink;}
.text-inherit{ text-decoration:inherit;}
.text-line-through{ text-decoration:line-through;}
.text-overline{ text-decoration:overline;}
.text-underline{ text-decoration:underline;}
.text-none{ text-decoration:none;}

.bold{ font-weight:bold;}
.normal{ font-weight:normal;}
.bolder{ font-weight:bolder;}
.lighter{ font-weight:lighter;}
.inherit{ font-weight:inherit;}

/*Color*/
.red{ color:#FA3B42;}
.white{ color:#fff;}
.black{ color:#000;}
.grey{ color:#7C7C7C;}
.green{color:#68b800;}
.bg_white{ background:#fff;}
.bg_red{background:#c3122f;}
.bg_grey{background:#ebebeb;}
.bg_green{background:#68b800 url(../images/bg_story.png) no-repeat top right;}
.link_white, .link_white a{ color:#fff;}
.link_green, .link_green a{ color:#4E8800;}

/*Position*/
.absolute{ position:absolute;}
.fixed{ position:fixed;}
.inherit{ position:inherit;}
.relative{ position:relative;}
.static{ position:static;}

/*Radius*/
.radius03{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.radius04{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.radius05{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*CSS*/
.block{ display:block;}
.inline{ display:inline;}
.inline-block{ display:inline-block;}

.padding05{ padding:5px;}
.padding10{ padding:10px;}
.padding20{ padding:20px;}

.top50{ top:42%;}
.left50{ left: 20%;}

.mleft05{ margin-left:5px;}
.mleft06{ margin-left:6px;}
.mleft07{ margin-left:7px;}
.mleft08{ margin-left:8px;}
.mleft09{ margin-left:9px;}
.mleft10{ margin-left:10px;}
.mleft11{ margin-left:11px;}
.mleft12{ margin-left:12px;}
.mleft13{ margin-left:13px;}
.mleft14{ margin-left:14px;}
.mleft15{ margin-left:15px;}
.mleft16{ margin-left:16px;}

.mright05{ margin-right:5px;}
.mright06{ margin-right:6px;}
.mright07{ margin-right:7px;}
.mright08{ margin-right:8px;}
.mright09{ margin-right:9px;}
.mright10{ margin-right:10px;}
.mright11{ margin-right:11px;}
.mright12{ margin-right:12px;}
.mright13{ margin-right:13px;}
.mright14{ margin-right:14px;}
.mright15{ margin-right:15px;}
.mright16{ margin-right:16px;}

.mtop05{ margin-top:5px;}
.mtop06{ margin-top:6px;}
.mtop07{ margin-top:7px;}
.mtop08{ margin-top:8px;}
.mtop09{ margin-top:9px;}
.mtop10{ margin-top:10px;}
.mtop11{ margin-top:11px;}
.mtop12{ margin-top:12px;}
.mtop13{ margin-top:13px;}
.mtop14{ margin-top:14px;}
.mtop15{ margin-top:15px;}
.mtop16{ margin-top:16px;}

.mbottom05{ margin-bottom:5px;}
.mbottom06{ margin-bottom:6px;}
.mbottom07{ margin-bottom:7px;}
.mbottom08{ margin-bottom:8px;}
.mbottom09{ margin-bottom:9px;}
.mbottom10{ margin-bottom:10px;}
.mbottom11{ margin-bottom:11px;}
.mbottom12{ margin-bottom:12px;}
.mbottom13{ margin-bottom:13px;}
.mbottom14{ margin-bottom:14px;}
.mbottom15{ margin-bottom:15px;}
.mbottom16{ margin-bottom:16px;}

.pleft05{ padding-left:5px;}
.pleft06{ padding-left:6px;}
.pleft07{ padding-left:7px;}
.pleft08{ padding-left:8px;}
.pleft09{ padding-left:9px;}
.pleft10{ padding-left:10px;}
.pleft11{ padding-left:11px;}
.pleft12{ padding-left:12px;}
.pleft13{ padding-left:13px;}
.pleft14{ padding-left:14px;}
.pleft15{ padding-left:15px;}
.pleft16{ padding-left:16px;}

.pright05{ padding-right:5px;}
.pright06{ padding-right:6px;}
.pright07{ padding-right:7px;}
.pright08{ padding-right:8px;}
.pright09{ padding-right:9px;}
.pright10{ padding-right:10px;}
.pright11{ padding-right:11px;}
.pright12{ padding-right:12px;}
.pright13{ padding-right:13px;}
.pright14{ padding-right:14px;}
.pright15{ padding-right:15px;}
.pright16{ padding-right:16px;}

.ptop05{ padding-top:5px;}
.ptop06{ padding-top:6px;}
.ptop07{ padding-top:7px;}
.ptop08{ padding-top:8px;}
.ptop09{ padding-top:9px;}
.ptop10{ padding-top:10px;}
.ptop11{ padding-top:11px;}
.ptop12{ padding-top:12px;}
.ptop13{ padding-top:13px;}
.ptop14{ padding-top:14px;}
.ptop15{ padding-top:15px;}
.ptop16{ padding-top:16px;}
.ptop20{ padding-top:20px;}
.ptop28{ padding-top:28px;}

.pbottom05{ padding-bottom:5px;}
.pbottom06{ padding-bottom:6px;}
.pbottom07{ padding-bottom:7px;}
.pbottom08{ padding-bottom:8px;}
.pbottom09{ padding-bottom:9px;}
.pbottom10{ padding-bottom:10px;}
.pbottom11{ padding-bottom:11px;}
.pbottom12{ padding-bottom:12px;}
.pbottom13{ padding-bottom:13px;}
.pbottom14{ padding-bottom:14px;}
.pbottom15{ padding-bottom:15px;}
.pbottom16{ padding-bottom:16px;}

.waterfall-item:hover {
	box-shadow: 0 0 10px #BBBBBB;
}
.waterfall-item {
	width: 200px;
	background: #FFF;
	margin: 10px 0;
	text-align: left;
	padding: 5px;
	background-color: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 2px 2px 2px 2px;
	float: left;
	margin: 0 10px 10px 0;
	margin-right: 0px;
	width: 200px;
}